<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
      <meta charset="UTF-8">
      <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
      <meta content="ie=edge" http-equiv="X-UA-Compatible">
      <title>INDEX</title>
</head>
<body>
<div layout:fragment="content">
     <div class="row">
       <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">bar_chart</i>
                    </div>
                    <h4 class="card-title">STATISTICS</h4>
               </div>
                   <div class="material-datatables">
                       <table cellspacing="0" class="table table-striped table-no-bordered table-hover" id="datatables"
                 style="width:100%" width="100%">
                           <thead>
                           <tr>
                               <th>ID</th>
                                <th>Group Name</th>
                                <th>Most Absence</th>
                                <th>Less Absence</th>
                                <th>Students eliminate</th>
                           </tr>
                           </thead>
                           <tfoot>
                           <tr>
                                  <th>ID</th>
                                  <th>Group Name</th>
                                  <th>Most Absence</th>
                                  <th>Less Absence</th>
                                  <th>Students eliminate</th>

                           </tr>
                           </tfoot>
                           <tbody>
                           <tr th:each="group : ${groups}">
                               <td th:text="${group.id }"></td>
                               <td th:text="${group.Name }"></td>
                               <td th:text="${subjectService.getMostAbsence(group.id)}"></td>
                               <td th:text="${subjectService.getLessAbsence(group.id)}"></td>
                               <td class="text-right">
                                   <a class="btn btn-link btn-primary btn-just-icon like" rel="tooltip" title="ENVOIYER MAIL "
                                      th:href="@{/groups/{id}(id=${group.id})}"><i class="material-icons">contact_mail</i></a>
                               </td>
                           </tr>
                           </tbody>
                  </table>
                   </div>
                 </div>
               </div>
            </div>
          </div>


</div>
</body>
</html>
